.merah {
    background: red;
}

.jingga {
    background: orange;
}

.kuning {
    background: yellow;
}

.hijau {
    background: green;
}

.biru {
    background: blue;
}

.nila {
    background: indigo;
}

.ungu {
    background: purple;
}